@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Admin Page</h1>
<a class="btn btn-primary" asp-action="Add" asp-controller="Admin">Add Student</a>
<a class="btn btn-primary" asp-action="List" asp-controller="Admin">Display All Students</a>
<a class="btn btn-primary" asp-action="Search" asp-controller="Admin">Search</a>
<a class="btn btn-primary" asp-action="Sort" asp-controller="Admin">Sort</a>